<link rel="import" href="../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="movements-dm">

    <template>
        <style>
        </style>
        <cells-generic-dp id="myDataProvider" host="https://floating-coast-63549.herokuapp.com" on-request-success="_onRequestOk"
            on-request-error="_onRequestError" path="pfm/v0/pfms/[[userid]]/transactions" method="GET">
        </cells-generic-dp>


    </template>
    <script>
        class MovementsDm extends Polymer.Element {
            static get is() {
                return 'movements-dm';
            }
         
             

            // Declare properties for the element's public API
            static get properties() {
                
                return {
                    movements: {
                        type: Array,
                        notify: true
                    },
                    userid: {
                        type: String
                    },
                    id : {
                        type:String
                    }
                };
            }

            _getMovements() {
                console.log('movementsDm._getMovements');
                this.$.myDataProvider.generateRequest();
                

            }

            _onRequestOk(evt) {
                let resultado = [];
                let movimiento;
                evt.detail.data.forEach(element => {
                    movimiento = element;
                    resultado.push(movimiento);
                });

                this.set('movements', resultado);
                console.log('MovementsDm._onRequestOk', this.movements);



                this.dispatchEvent(new CustomEvent('send-movements',
                    { composed: true, bubbles: true, detail: this.movements }));
            }

            _setUserId(e) {
                this.set('userid',e);
                console.log('MovementsDm._setUserId', e);
            }


        }

        customElements.define(MovementsDm.is, MovementsDm);
    </script>

</dom-module>