<link rel="import" href="../../components/cells-lists/cells-lists.html">

<dom-module id="my-greeting">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Lista de Movimientos</h1>
    <template id="MovementsList" is="dom-repeat" items="[[movements]]" as="item">
      <h2>[[item.amount.currency]] [[item.amount.amount]]</h2>
      <h3>[[item.concept]]</h3>
      
</template>

  </template>

  <script>
    class MyGreeting extends Polymer.Element {
      static get is() {
        return 'my-greeting';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          movements:{
            type:Array,
            notify:true
          }
        };
      }
      _viewMovements(evt){
        console.log('_viewMovements',evt);
        this.movements=evt;
        this.set('movements',evt);
      }
      
      }

    customElements.define(MyGreeting.is, MyGreeting);
    </script>

</dom-module>
