<link rel="import" href="../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="login-dm">

    <template>
        <style>
        </style>
        <cells-generic-dp id="myDataProvider" 
                          host="https://des.wallet.bbvacontinental.pe" on-request-success="_onRequestOk" on-request-error="_onRequestError"
            path="QSRV_A02/TechArchitecture/pe/grantingTicket/V02" method="POST" body='{"authentication": {"userID": "[[userId]]", "consumerID": "13999901", "authenticationType": "02", "authenticationData": [{ "idAuthenticationData": "password", "authenticationData": ["[[password]]"]}]}, "backendUserRequest": {"userId":"", "accessCode": "", "dialogId": ""}}'>
        </cells-generic-dp>       


    </template>
    <script>
        class LoginDm extends Polymer.Element {
            static get is() {
                return 'login-dm';
            }

            // Declare properties for the element's public API
            static get properties() {
                return {
                    login: {
                        type: Array,
                        notify: true
                    },
                    id:{
                        type:String
                    },
                    userId:{
                        type:String
                    },
                    password:{
                        type:String
                    }
                    
                };
            }

            handleLogin(e) {
                console.log('loginDm.handleLogin',e);
                this.id = e.documentType.id;
                this.userId = e.documentType.id+e.userId;
                this.password =e.password;
                console.log('Usuario:',this.userId);
                this.$.myDataProvider.generateRequest();
            }

            _onRequestOk(evt) {               

                this.set('login', evt);
                console.log('LoginDm._onRequestOk', this.login);

                
                this.dispatchEvent(new CustomEvent('auth-login',
                 {composed: true, bubbles: true, detail:this.userId }));
            }
            
        }

        customElements.define(LoginDm.is, LoginDm);
    </script>

</dom-module>